
html {
    background: $color-primary;
    min-height: 100vh;
}

body {
    background: $color-bg;
    color: $color-txt;
    min-height: 100vh;
}

a {
    color: $color-primary;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $color-primary-lt;
    }
}
