form {

    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5em;
        padding: 0;
    }

    label {
        margin-bottom: 0.25em;
    }

    input, textarea {
        border: 2px solid $color-primary;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 0.5em 1.0em;
        width: 100%;

        &:focus {
            border: 2px solid $color-primary-lt;
            outline: none;
        }
    }
}
