.header {
    background: $color-primary url('../images/red-corners.svg') no-repeat top left;
    background-size: cover;

    svg {
        margin: 1.0em;

        @include desktop {
            margin: 4.0em;
        }

        .Logo {
            fill: $color-white;
        }
        .Text {
            fill: $color-white;
        }
    }

}
