
.main {
    margin: 0 auto;
    padding: 1.0em;
    max-width: 768px;
    min-height: 512px;

    img {
        display: block;
        margin: 0.5em 0;
        max-width: 100%;
    }
}

.post-header {
    border-bottom: 3px double $color-gray-40;
    padding-bottom: 0.5em;

    h1 {
        margin-bottom: 0;
    }

    .post-meta, .post-summary {
        color: $color-gray-40;
        font-size: $fontsize-small;
        font-style: italic;
    }

    .post-summary {
        font-style: normal;
    }
}

.example {
    align-items: center;
    background: #202020;
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
    padding: 0.5em;
}
