
.navbar {
    align-items: stretch;
    //border-bottom: 1px solid $color-primary;
    border-bottom: 1px solid $color-gray-85;
    display: flex;
}

.navbar__links {
    display: flex;
}

.navbar__link {
    align-items: center;
    color: $color-primary;
    display: flex;
    font-family: $fontstack-headings;
    font-size: $fontsize-large;
    font-weight: $fontweight-bold;
    justify-content: center;
    padding: 1.0em;
    text-decoration: none;
    transition: all 0.35s ease-in-out;

    &:hover {
        background: $color-primary;
        color: $color-white;
    }
}

.navbar__logo {
    flex: 1;
    padding: 1.0em;

    svg {
        height: 63px;

        .Logo {
            fill: $color-primary;
        }
        .Text {
            fill: $color-primary;
        }
    }
}
